In [1]:
from zipfile import ZipFile

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('~/Downloads/Bondora_raw.csv')
df

/var/folders/k2/r9j31r3x1yl1ysnbq51gcb9m0000gn/T/ipykernel_72784/4050428603.py:4: DtypeWarning: Columns (34,37,38,80,82,83,89,90) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('~/Downloads/Bondora_raw.csv')

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-11 16:40:39,2009-06-11 16:40:39,0,0,115.0410,KARU,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN
1,2020-01-27,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-10 15:48:57,2009-06-10 15:48:57,0,0,140.6057,koort681,False,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN
2,2020-01-27,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-05 19:12:29,2009-06-05 19:12:29,0,0,319.5580,0ie,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,180+
3,2020-01-27,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-13 12:01:20,2009-06-13 12:01:20,0,0,57.5205,Alyona,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,NaN
4,2020-01-27,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-10 10:17:13,2009-06-10 10:17:13,0,0,319.5582,Kai,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.00,180+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134524,2020-01-27,A9C9EF0F-4E79-4930-BA8A-A4130077FCC2,283484,2015-01-02 16:31:36,2015-01-02 16:31:36,2515,0,485.0000,BO73K5A6A,True,...,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1040.06,180+
134525,2020-01-27,787345C2-7606-4F72-8FE2-A4170082D77C,285168,2015-01-05 16:14:26,2015-01-05 16:14:26,1880,0,1120.0000,BO311A49,False,...,0,2017-06-27,2018-06-20,NaN,NaN,NaN,NaN,0.0,0.00,NaN
134526,2020-01-27,E2D3384D-289A-4B4D-A2DA-A40F00F7C755,281602,2015-01-02 14:04:27,2015-01-02 14:04:27,1975,0,525.0000,BO41K639A,True,...,0,NaN,NaN,NaN,0.0,60.0,NaN,0.0,1051.85,8-15
134527,2020-01-27,7CC7AB74-995B-4467-958A-A41700F78D59,285431,2015-01-05 16:56:12,2015-01-05 16:56:12,1840,0,1160.0000,BO45A925,False,...,0,2016-04-01,2016-10-03,NaN,NaN,NaN,NaN,0.0,889.50,31-60
134528,2020-01-27,3A0DEBF3-292C-4EB4-B71A-A4170157749D,285630,2015-01-06 11:07:06,2015-01-06 11:07:06,2990,0,10.0000,BO152923A,False,...,0,2015-09-14,2016-03-14,NaN,0.0,60.0,2015-09-09,0.0,604.80,91-120

#Statistical description of numerical variables

In [5]:
df.describe()

,LoanNumber,BidsPortfolioManager,BidsApi,BidsManual,ApplicationSignedHour,ApplicationSignedWeekday,VerificationType,LanguageCode,Age,Gender,...,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsBefoleLoan,PreviousEarlyRepaymentsCountBeforeLoan,NextPaymentNr,NrOfScheduledPayments,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost
count,1.345290e+05,134529.000000,134529.000000,134529.000000,134529.000000,134529.000000,134484.000000,134529.000000,134529.000000,134484.000000,...,134529.000000,134529.000000,134529.000000,91368.000000,58026.000000,134529.000000,97788.000000,97788.000000,59129.000000,59129.000000
mean,9.449392e+05,966.452876,29.111664,559.332590,13.374640,3.907908,2.817257,2.827874,40.819295,0.442097,...,701.567107,1.487620,2868.652401,928.395548,320.743805,0.069903,5.178795,50.126795,5.264702,89.851455
std,4.786738e+05,1355.686016,150.159148,750.360512,4.992375,1.726192,1.407908,1.959802,12.348693,0.636083,...,2514.595572,2.396148,4507.046575,2042.348751,1561.799076,0.359461,7.674427,12.519530,57.800582,287.449052
min,3.700000e+01,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,...,-2.660000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
25%,6.206790e+05,155.000000,0.000000,96.000000,10.000000,2.000000,1.000000,1.000000,31.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,36.000000,0.000000,0.000000
50%,9.235970e+05,465.000000,0.000000,317.000000,13.000000,4.000000,4.000000,3.000000,40.000000,0.000000,...,0.000000,1.000000,396.354100,197.980000,0.000000,0.000000,3.000000,60.000000,0.000000,0.000000
75%,1.311025e+06,1218.000000,5.000000,729.000000,17.000000,5.000000,4.000000,4.000000,50.000000,1.000000,...,202.900000,2.000000,4250.000000,780.950000,0.000000,0.000000,7.000000,60.000000,0.000000,17.330000
max,1.855339e+06,10625.000000,7570.000000,10630.000000,23.000000,7.000000,4.000000,22.000000,77.000000,2.000000,...,64494.770000,25.000000,53762.000000,34077.420000,48100.000000,11.000000,60.000000,72.000000,3325.330000,5295.290000

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134529 entries, 0 to 134528
Columns: 112 entries, ReportAsOfEOD to ActiveLateLastPaymentCategory
dtypes: bool(3), float64(56), int64(14), object(39)
memory usage: 112.3+ MB

In [7]:
missing_data = pd.DataFrame({'total_missing': df.isnull().sum(), 'percentage_missing': (df.isnull().sum()/134529)*100})
missing_data[missing_data['total_missing'] != 0]

                                     total_missing  percentage_missing
ContractEndDate                              75546           56.155922
VerificationType                                45            0.033450
Gender                                          45            0.033450
MonthlyPayment                                6685            4.969189
County                                       36840           27.384430
...                                            ...                 ...
NrOfScheduledPayments                        36741           27.310840
ReScheduledOn                                94207           70.027280
PrincipalDebtServicingCost                   75400           56.047395
InterestAndPenaltyDebtServicingCost          75400           56.047395
ActiveLateLastPaymentCategory                82279           61.160791

[64 rows x 2 columns]

In [8]:
total_cells = np.product(df.shape)
missing_values_count = df.isnull().sum()
total_missing = missing_values_count.sum()

# percent of data that is missing
percent_missing = (total_missing/total_cells) * 100
print(percent_missing)

24.374988717249494

#Dealing with missing Values

In [9]:
nan_values = df.isna().any()

print (nan_values)

ReportAsOfEOD                          False
LoanId                                 False
LoanNumber                             False
ListedOnUTC                            False
BiddingStartedOn                       False
                                       ...
NrOfScheduledPayments                   True
ReScheduledOn                           True
PrincipalDebtServicingCost              True
InterestAndPenaltyDebtServicingCost     True
ActiveLateLastPaymentCategory           True
Length: 112, dtype: bool

In [10]:
perc = 20
min_count =  int(((100-perc)/100)*df.shape[0] + 1)
df2 = df.dropna( axis=1, 
                thresh=min_count)

In [11]:
missing_data = pd.DataFrame({'total_missing': df2.isnull().sum(), 'percentage_missing': (df2.isnull().sum()/134529)*100})
missing_data[missing_data['total_missing'] != 0]

                                   total_missing  percentage_missing
VerificationType                              45            0.033450
Gender                                        45            0.033450
MonthlyPayment                              6685            4.969189
City                                        9794            7.280215
Education                                     45            0.033450
MaritalStatus                                 45            0.033450
EmploymentStatus                             197            0.146437
EmploymentDurationCurrentEmployer            876            0.651161
OccupationArea                                86            0.063927
HomeOwnershipType                           1652            1.227988
DebtToIncome                                  45            0.033450
FreeCash                                      45            0.033450
PlannedInterestTillDate                     3942            2.930223
LastPaymentOn                               9531            7.084718
ExpectedLoss                                2636            1.959429
LossGivenDefault                            2636            1.959429
ExpectedReturn                              2636            1.959429
ProbabilityOfDefault                        2636            1.959429
PrincipalOverdueBySchedule                 14837           11.028849
ModelVersion                                2636            1.959429
Rating                                      2730            2.029302

In [12]:
df3  = df2.dropna()
missing_data = pd.DataFrame({'total_missing': df3.isnull().sum(), 'percentage_missing': (df3.isnull().sum()/134529)*100})
missing_data[missing_data['total_missing'] != 0]

Empty DataFrame
Columns: [total_missing, percentage_missing]
Index: []

In [13]:
df3

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,...,Rating,Status,Restructured,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan
490,2020-01-27,C1FD0372-F9CE-427D-8986-A41800E59597,285907,2015-01-06 14:35:16,2015-01-06 14:35:16,0,0,1000.0,BOKA1292A,True,...,HR,Repaid,False,1000.00,272.99,0.00,0.00,0,0.0,0
491,2020-01-27,0D5669F1-7D09-426F-8AAD-A414008672A6,283758,2015-01-05 12:48:26,2015-01-05 12:48:26,1355,0,645.0,BO723619A,True,...,D,Current,True,1387.57,1845.64,612.43,0.00,0,0.0,0
493,2020-01-27,4EA4F80B-6079-4D5C-8A89-A41800B4B3D6,285759,2015-01-06 12:48:51,2015-01-06 12:48:51,225,0,3875.0,BO4K5K57,False,...,E,Repaid,False,4100.00,4488.50,0.00,0.00,1,1500.0,0
495,2020-01-27,643B9E86-172E-416A-B0F1-A41700B3B29D,285218,2015-01-06 11:36:57,2015-01-06 11:36:57,1485,0,515.0,BO156662A,True,...,D,Late,True,1299.20,865.55,700.80,344.38,0,0.0,0
496,2020-01-27,1349769C-E9D7-4039-90C7-A41800E55B05,285905,2015-01-06 19:02:37,2015-01-06 19:02:37,700,0,0.0,BO57K7A9A,True,...,E,Late,False,437.27,0.00,262.73,2253.24,0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
134524,2020-01-27,A9C9EF0F-4E79-4930-BA8A-A4130077FCC2,283484,2015-01-02 16:31:36,2015-01-02 16:31:36,2515,0,485.0,BO73K5A6A,True,...,E,Repaid,False,2308.19,0.00,0.00,0.00,0,0.0,0
134525,2020-01-27,787345C2-7606-4F72-8FE2-A4170082D77C,285168,2015-01-05 16:14:26,2015-01-05 16:14:26,1880,0,1120.0,BO311A49,False,...,B,Repaid,False,3000.00,1990.03,0.00,0.00,1,3000.0,0
134526,2020-01-27,E2D3384D-289A-4B4D-A2DA-A40F00F7C755,281602,2015-01-02 14:04:27,2015-01-02 14:04:27,1975,0,525.0,BO41K639A,True,...,D,Late,False,1869.76,199.33,630.24,1227.98,0,0.0,0
134527,2020-01-27,7CC7AB74-995B-4467-958A-A41700F78D59,285431,2015-01-05 16:56:12,2015-01-05 16:56:12,1840,0,1160.0,BO45A925,False,...,B,Repaid,True,2257.54,561.53,0.00,0.00,1,500.0,0
134528,2020-01-27,3A0DEBF3-292C-4EB4-B71A-A4170157749D,285630,2015-01-06 11:07:06,2015-01-06 11:07:06,2990,0,10.0,BO152923A,False,...,D,Late,True,1473.91,683.21,1526.09,9019.04,1,2500.0,0

In [29]:
df3.to_csv('Data_cleaning.csv', index=False)