# Bondora Data Preprocessing 

In this project we will be doing credit risk modelling of peer to peer lending Bondora systems.Data for the study has been retrieved from a publicly available data set of a leading European P2P lending platform  ([**Bondora**](https://www.bondora.com/en/public-reports#dataset-file-format)).The retrieved data is a pool of both defaulted and non-defaulted loans from the time period between **1st March 2009** and **27th January 2020**. The data
comprises of demographic and financial information of borrowers, and loan transactions.In P2P lending, loans are typically uncollateralized and lenders seek higher returns as a compensation for the financial risk they take. In addition, they need to make decisions under information asymmetry that works in favor of the borrowers. In order to make rational decisions, lenders want to minimize the risk of default of each lending decision, and realize the return that compensates for the risk.

In this notebook we will preprocess the raw dataset and will create new preprocessed csv that can be used for building credit risk models.

In [578]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [579]:
!unzip "/content/drive/MyDrive/Technocolabs/Bondora_raw.zip"

Archive:  /content/drive/MyDrive/Technocolabs/Bondora_raw.zip
replace Bondora_raw.csv? [y]es, [n]o, [A]ll, [N]one, [r]ename:

# **Data Cleaning**

In [580]:
import pandas as pd
import numpy as np
# To display all the columns of dataframe
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 500)
import warnings
warnings.filterwarnings("ignore")

import matplotlib.pyplot as plt
import seaborn as sns

In [581]:
df = pd.read_csv("/content/Bondora_raw.csv" , low_memory=False)

In [582]:
df.shape

(134529, 112)

In [583]:
df.head()

,ReportAsOfEOD,LoanId,LoanNumber,ListedOnUTC,BiddingStartedOn,BidsPortfolioManager,BidsApi,BidsManual,UserName,NewCreditCustomer,LoanApplicationStartedDate,LoanDate,ContractEndDate,FirstPaymentDate,MaturityDate_Original,MaturityDate_Last,ApplicationSignedHour,ApplicationSignedWeekday,VerificationType,LanguageCode,Age,DateOfBirth,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,County,City,UseOfLoan,Education,MaritalStatus,NrOfDependants,EmploymentStatus,EmploymentDurationCurrentEmployer,EmploymentPosition,WorkExperience,OccupationArea,HomeOwnershipType,IncomeFromPrincipalEmployer,IncomeFromPension,IncomeFromFamilyAllowance,IncomeFromSocialWelfare,IncomeFromLeavePay,IncomeFromChildSupport,IncomeOther,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,ActiveScheduleFirstPaymentReached,PlannedPrincipalTillDate,PlannedInterestTillDate,LastPaymentOn,CurrentDebtDaysPrimary,DebtOccuredOn,CurrentDebtDaysSecondary,DebtOccuredOnForSecondary,ExpectedLoss,LossGivenDefault,ExpectedReturn,ProbabilityOfDefault,DefaultDate,PrincipalOverdueBySchedule,PlannedPrincipalPostDefault,PlannedInterestPostDefault,EAD1,EAD2,PrincipalRecovery,InterestRecovery,RecoveryStage,StageActiveSince,ModelVersion,Rating,EL_V0,Rating_V0,EL_V1,Rating_V1,Rating_V2,Status,Restructured,ActiveLateCategory,WorseLateCategory,CreditScoreEsMicroL,CreditScoreEsEquifaxRisk,CreditScoreFiAsiakasTietoRiskGrade,CreditScoreEeMini,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalWriteOffs,InterestAndPenaltyWriteOffs,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsBefoleLoan,PreviousEarlyRepaymentsCountBeforeLoan,GracePeriodStart,GracePeriodEnd,NextPaymentDate,NextPaymentNr,NrOfScheduledPayments,ReScheduledOn,PrincipalDebtServicingCost,InterestAndPenaltyDebtServicingCost,ActiveLateLastPaymentCategory
0,2020-01-27,F0660C80-83F3-4A97-8DA0-9C250112D6EC,659,2009-06-11 16:40:39,2009-06-11 16:40:39,0,0,115.0410,KARU,True,2009-06-11 16:40:39,2009-06-16,2010-07-06,2009-07-27,2010-06-25,2010-06-25,17,5,2.0,1,61,1947-11-26,1.0,EE,319.5582,115.0408,30.0,12,NaN,HARJU,TALLINN,7,3.0,1.0,0,3.0,UpTo3Years,klienditeenindaja,MoreThan25Years,7.0,NaN,6000.0,0.0,0.0,0.0,0.0,0.0,4500.0,10500.0,0,0.0,0,0.0,0.0,25,True,1800.0000,319.0800,2010-07-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Repaid,False,NaN,91-120,NaN,NaN,NaN,NaN,115.0408,20.4222,0.0,0.0,0.00,0.00,1,83.0852,0.0000,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
1,2020-01-27,978BB85B-1C69-4D51-8447-9C240104A3A2,654,2009-06-10 15:48:57,2009-06-10 15:48:57,0,0,140.6057,koort681,False,2009-06-10 15:48:57,2009-06-15,2009-07-07,2009-07-15,2009-07-15,2009-07-15,20,4,2.0,1,48,1960-11-05,1.0,EE,191.7349,140.6057,25.0,1,NaN,IDA-VIRU,KOHTLA-JARVE,7,5.0,4.0,0,3.0,MoreThan5Years,Õppealajuhataja lasteaias,MoreThan25Years,16.0,NaN,8300.0,0.0,0.0,0.0,0.0,0.0,2500.0,10800.0,0,0.0,0,0.0,0.0,15,True,2200.0000,45.8300,2009-07-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Repaid,False,NaN,NaN,NaN,NaN,NaN,NaN,140.6057,2.0227,0.0,0.0,0.00,0.00,2,255.6467,258.6256,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2020-01-27,EA44027E-7FA7-4BB2-846D-9C1F013C8A22,641,2009-06-05 19:12:29,2009-06-05 19:12:29,0,0,319.5580,0ie,True,2009-06-05 19:12:29,2009-06-15,NaN,2009-07-27,2011-02-25,2014-05-13,20,6,2.0,1,58,1950-11-13,1.0,EE,319.5582,319.5409,25.0,20,NaN,PÄRNU,PÄRNU,2,4.0,1.0,0,3.0,UpTo4Years,teenindaja,MoreThan25Years,9.0,NaN,5000.0,0.0,0.0,0.0,0.0,0.0,2000.0,7000.0,0,0.0,0,0.0,0.0,25,True,319.5409,197.2926,2012-10-01,2813.0,2012-05-14,2935.0,2012-01-13,NaN,NaN,NaN,NaN,2012-07-16,116.35,236.97,38.24,279.5049,270.7323,163.1549,50.99,NaN,2016-03-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Late,True,180+,180+,NaN,NaN,NaN,NaN,203.1909,59.7626,0.0,0.0,116.35,414.07,0,0.0000,0.0000,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+
3,2020-01-27,CE67AD25-2951-4BEE-96BD-9C2700C61EF4,668,2009-06-13 12:01:20,2009-06-13 12:01:20,0,0,57.5205,Alyona,True,2009-06-13 12:01:20,2009-06-15,2010-09-15,2009-07-15,2010-09-15,2010-09-15,12,7,2.0,1,23,1986-03-29,1.0,EE,127.8233,57.5205,45.0,15,NaN,HARJU,PALDISKI,0,2.0,3.0,1,NaN,UpTo2Years,juhtmekoitja,2To5Years,1.0,NaN,11000.0,0.0,0.0,0.0,0.0,0.0,600.0,11600.0,0,0.0,0,0.0,0.0,15,True,900.0000,293.1000,2010-09-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Repaid,False,NaN,31-60,NaN,NaN,NaN,NaN,57.5205,18.7323,0.0,0.0,0.00,0.00,1,134.2144,0.0000,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,NaN
4,2020-01-27,9408BF8C-B159-4D6A-9D61-9C2400A986E3,652,2009-06-10 10:17:13,2009-06-10 10:17:13,0,0,319.5582,Kai,True,2009-06-10 10:17:13,2009-06-14,2016-07-28,2009-07-27,2010-06-25,2010-06-25,10,4,2.0,1,25,1983-09-30,1.0,EE,319.5582,319.5436,30.0,12,NaN,TARTU,TARTU,6,4.0,2.0,0,3.0,UpTo2Years,klienditeenindaja,5To10Years,7.0,NaN,6800.0,0.0,0.0,0.0,0.0,0.0,0.0,6800.0,0,0.0,0,0.0,0.0,25,True,5000.0000,833.8100,2015-07-16,NaN,NaN,3835.0,2009-07-27,NaN,NaN,NaN,NaN,2009-09-28,NaN,247.76,29.84,319.5436,319.5436,319.5436,220.42,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Repaid,False,NaN,180+,NaN,NaN,NaN,NaN,319.5436,220.4200,0.0,2.4,0.00,0.00,1,146.9966,0.0000,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,180+

# **Percentage of Missing Values**

In [584]:
# To show all the null percentage of columns

percent_missing=((df.isnull().sum() / len(df)) *100).round()

missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
percent_missing

ReportAsOfEOD                              0.0
LoanId                                     0.0
LoanNumber                                 0.0
ListedOnUTC                                0.0
BiddingStartedOn                           0.0
BidsPortfolioManager                       0.0
BidsApi                                    0.0
BidsManual                                 0.0
UserName                                   0.0
NewCreditCustomer                          0.0
LoanApplicationStartedDate                 0.0
LoanDate                                   0.0
ContractEndDate                           56.0
FirstPaymentDate                           0.0
MaturityDate_Original                      0.0
MaturityDate_Last                          0.0
ApplicationSignedHour                      0.0
ApplicationSignedWeekday                   0.0
VerificationType                           0.0
LanguageCode                               0.0
Age                                        0.0
DateOfBirth                                0.0
Gender                                     0.0
Country                                    0.0
AppliedAmount                              0.0
Amount                                     0.0
Interest                                   0.0
LoanDuration                               0.0
MonthlyPayment                             5.0
County                                    27.0
City                                       7.0
UseOfLoan                                  0.0
Education                                  0.0
MaritalStatus                              0.0
NrOfDependants                            74.0
EmploymentStatus                           0.0
EmploymentDurationCurrentEmployer          1.0
EmploymentPosition                        73.0
WorkExperience                            73.0
OccupationArea                             0.0
HomeOwnershipType                          1.0
IncomeFromPrincipalEmployer                0.0
IncomeFromPension                          0.0
IncomeFromFamilyAllowance                  0.0
IncomeFromSocialWelfare                    0.0
IncomeFromLeavePay                         0.0
IncomeFromChildSupport                     0.0
IncomeOther                                0.0
IncomeTotal                                0.0
ExistingLiabilities                        0.0
LiabilitiesTotal                           0.0
RefinanceLiabilities                       0.0
DebtToIncome                               0.0
FreeCash                                   0.0
MonthlyPaymentDay                          0.0
ActiveScheduleFirstPaymentReached          0.0
PlannedPrincipalTillDate                  60.0
PlannedInterestTillDate                    3.0
LastPaymentOn                              7.0
CurrentDebtDaysPrimary                    64.0
DebtOccuredOn                             64.0
CurrentDebtDaysSecondary                  61.0
DebtOccuredOnForSecondary                 61.0
ExpectedLoss                               2.0
LossGivenDefault                           2.0
ExpectedReturn                             2.0
ProbabilityOfDefault                       2.0
DefaultDate                               68.0
PrincipalOverdueBySchedule                11.0
PlannedPrincipalPostDefault               68.0
PlannedInterestPostDefault                68.0
EAD1                                      68.0
EAD2                                      68.0
PrincipalRecovery                         68.0
InterestRecovery                          68.0
RecoveryStage                             43.0
StageActiveSince                          40.0
ModelVersion                               2.0
Rating                                     2.0
EL_V0                                     97.0
Rating_V0                                 97.0
EL_V1                                     90.0
Rating_V1                                 90.0
Rating_V2                                 81.0
Status                                     0.0
Restructured                               0.0
ActiveLateCategory                        64.0
WorseLateCategory                         34.0
CreditScoreEsMicroL                       22.0
CreditScoreEsEquifaxRisk                  91.0
CreditScoreFiAsiakasTietoRiskGrade        76.0
CreditScoreEeMini                         47.0
PrincipalPaymentsMade                      0.0
InterestAndPenaltyPaymentsMade             0.0
PrincipalWriteOffs                        56.0
InterestAndPenaltyWriteOffs               56.0
PrincipalBalance                           0.0
InterestAndPenaltyBalance                  0.0
NoOfPreviousLoansBeforeLoan                0.0
AmountOfPreviousLoansBeforeLoan            0.0
PreviousRepaymentsBeforeLoan              32.0
PreviousEarlyRepaymentsBefoleLoan         57.0
PreviousEarlyRepaymentsCountBeforeLoan     0.0
GracePeriodStart                          86.0
GracePeriodEnd                            86.0
NextPaymentDate                           51.0
NextPaymentNr                             27.0
NrOfScheduledPayments                     27.0
ReScheduledOn                             70.0
PrincipalDebtServicingCost                56.0
InterestAndPenaltyDebtServicingCost       56.0
ActiveLateLastPaymentCategory             61.0
dtype: float64

Removing all the features which have more than 40% missing values

In [585]:
# removing the columns having more than 40% missing values
percent_missing[percent_missing>40].index

Index(['ContractEndDate', 'NrOfDependants', 'EmploymentPosition',
       'WorkExperience', 'PlannedPrincipalTillDate', 'CurrentDebtDaysPrimary',
       'DebtOccuredOn', 'CurrentDebtDaysSecondary',
       'DebtOccuredOnForSecondary', 'DefaultDate',
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage',
       'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2',
       'ActiveLateCategory', 'CreditScoreEsEquifaxRisk',
       'CreditScoreFiAsiakasTietoRiskGrade', 'CreditScoreEeMini',
       'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs',
       'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'ReScheduledOn',
       'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost',
       'ActiveLateLastPaymentCategory'],
      dtype='object')

In [586]:
# print missing values columns 
miss_col=['ContractEndDate', 'NrOfDependants', 'EmploymentPosition',
       'WorkExperience', 'PlannedPrincipalTillDate', 'CurrentDebtDaysPrimary',
       'DebtOccuredOn', 'CurrentDebtDaysSecondary',
       'DebtOccuredOnForSecondary',
       'PlannedPrincipalPostDefault', 'PlannedInterestPostDefault', 'EAD1',
       'EAD2', 'PrincipalRecovery', 'InterestRecovery', 'RecoveryStage',
       'EL_V0', 'Rating_V0', 'EL_V1', 'Rating_V1', 'Rating_V2',
       'ActiveLateCategory', 'CreditScoreEsEquifaxRisk',
       'CreditScoreFiAsiakasTietoRiskGrade', 'CreditScoreEeMini',
       'PrincipalWriteOffs', 'InterestAndPenaltyWriteOffs',
       'PreviousEarlyRepaymentsBefoleLoan', 'GracePeriodStart',
       'GracePeriodEnd', 'NextPaymentDate', 'ReScheduledOn',
       'PrincipalDebtServicingCost', 'InterestAndPenaltyDebtServicingCost',
       'ActiveLateLastPaymentCategory']

In [587]:
# drop missing values columns 
loan = df.drop(columns=miss_col)
loan.shape

(134529, 77)

Apart from missing value features there are some features which will have no role in default prediction like 'ReportAsOfEOD', 'LoanId', 'LoanNumber', 'ListedOnUTC', 'DateOfBirth' (**because age is already present**), 'BiddingStartedOn','UserName','NextPaymentNr','NrOfScheduledPayments','IncomeFromPrincipalEmployer', 'IncomeFromPension',
'IncomeFromFamilyAllowance', 'IncomeFromSocialWelfare','IncomeFromLeavePay', 'IncomeFromChildSupport', 'IncomeOther' (**As Total income is already present which is total of all these income**), 'LoanApplicationStartedDate','ApplicationSignedHour',
       'ApplicationSignedWeekday','ActiveScheduleFirstPaymentReached', 'PlannedInterestTillDate',
       'LastPaymentOn', 'ExpectedLoss', 'LossGivenDefault', 'ExpectedReturn',
       'ProbabilityOfDefault', 'PrincipalOverdueBySchedule',
       'StageActiveSince', 'ModelVersion','WorseLateCategory'

In [588]:
cols_del = ['ReportAsOfEOD', 'LoanId', 'LoanNumber', 'ListedOnUTC', 'DateOfBirth',
       'BiddingStartedOn','UserName','NextPaymentNr',
       'NrOfScheduledPayments','IncomeFromPrincipalEmployer', 'IncomeFromPension',
       'IncomeFromFamilyAllowance', 'IncomeFromSocialWelfare',
       'IncomeFromLeavePay', 'IncomeFromChildSupport', 'IncomeOther','LoanApplicationStartedDate','ApplicationSignedHour',
       'ApplicationSignedWeekday','ActiveScheduleFirstPaymentReached', 'PlannedInterestTillDate',
       'ExpectedLoss', 'LossGivenDefault', 'ExpectedReturn',
       'ProbabilityOfDefault', 'PrincipalOverdueBySchedule',
       'StageActiveSince', 'ModelVersion','WorseLateCategory']

In [589]:
loan = loan.drop(cols_del,axis=1)

In [590]:
loan.shape

(134529, 48)

## Creating Target Variable

Here, status is the variable which help us in creating target variable. The reason for not making status as target variable is that it has three unique values **current, Late and repaid**. There is no default feature but there is a feature **default date** which tells us when the borrower has defaulted means on which date the borrower defaulted. So, we will be combining **Status** and **Default date** features for creating target  variable.The reason we cannot simply treat Late as default because it also has some records in which actual status is Late but the user has never defaulted i.e., default date is null.
So we will first filter out all the current status records because they are not matured yet they are current loans.

In [591]:
# let's find the counts of each status categories 
loan['Status'].value_counts()

Current    57135
Late       45772
Repaid     31622
Name: Status, dtype: int64

In [592]:
# filtering out Current Status records
loan = loan[ loan['Status'] == "Current"]
loan['Status'].value_counts()

Current    57135
Name: Status, dtype: int64

In [593]:
loan.shape

(57135, 48)

Now, we will create new target variable in which 0 will be assigned when default date is null means borrower has never defaulted while 1 in case default date is present.

In [594]:
loan["DefaultDate"].isnull().sum()

57014

In [595]:
loan["Target"]=loan["DefaultDate"].fillna(0).apply( lambda x : 1 if x!=0 else 0 )

In [596]:
# check the counts of default and nondefault 
loan["Target"].value_counts()

0    57014
1      121
Name: Target, dtype: int64

Now, we will remove Loan Status and default date as we have already created target variable with the help of these two features

In [597]:
loan = loan.drop(columns=["Status","DefaultDate"])

In [598]:
loan.shape

(57135, 47)

In [600]:
loan.head()

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,LoanDate,FirstPaymentDate,MaturityDate_Original,MaturityDate_Last,VerificationType,LanguageCode,Age,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,County,City,UseOfLoan,Education,MaritalStatus,EmploymentStatus,EmploymentDurationCurrentEmployer,OccupationArea,HomeOwnershipType,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,LastPaymentOn,Rating,Restructured,CreditScoreEsMicroL,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Target
491,1355,0,645.0,True,2015-01-06,2015-02-16,2020-01-15,2021-01-15,3.0,4,28,0.0,FI,2000.0,2000.0,24.46,60,63.90,POHJOIS-SAVO,KUOPIO,7,5.0,2.0,3.0,UpTo2Years,6.0,1.0,2097.0,1,629.00,0,3.05,1404.10,15,2020-01-17,D,True,NaN,1387.57,1845.64,612.43,0.0,0,0.0,0.00,0,0
523,1000,0,0.0,False,2015-01-07,2015-03-06,2020-02-06,2021-11-08,4.0,1,27,0.0,EE,1000.0,1000.0,17.74,60,28.17,LÄÄNE-VIRUMAA,SÕMERU VALD,7,4.0,3.0,3.0,UpTo1Year,1.0,6.0,560.0,8,1327.37,2,47.56,43.67,6,2020-01-08,B,True,NaN,608.05,638.67,391.95,0.0,1,1300.0,187.87,0,0
536,2345,0,655.0,False,2015-01-07,2015-02-16,2020-01-14,2024-02-23,3.0,1,29,0.0,EE,3000.0,3000.0,17.87,60,84.72,PÄRNUMAA,PÄRNU,7,2.0,3.0,3.0,UpTo3Years,3.0,3.0,745.0,4,427.03,0,27.48,290.28,14,2020-01-23,B,True,NaN,1270.42,1890.24,1729.58,0.0,1,1000.0,623.89,0,0
541,2045,0,955.0,True,2015-01-08,2015-02-20,2020-01-20,2021-01-04,3.0,4,25,0.0,FI,3000.0,3000.0,27.98,60,102.12,POHJOIS-SAVO,KUOPIO,0,3.0,3.0,3.0,UpTo5Years,10.0,4.0,1530.0,4,955.00,0,36.41,472.88,27,2020-01-20,D,True,NaN,1916.72,3144.21,1083.28,0.0,0,0.0,0.00,0,0
544,1500,0,0.0,True,2015-01-08,2015-02-25,2020-01-27,2020-01-27,1.0,1,30,0.0,EE,1500.0,1500.0,29.25,60,52.84,TARTU,KABINA,7,4.0,2.0,5.0,MoreThan5Years,5.0,3.0,1500.0,2,465.00,0,4.52,982.16,25,2019-12-27,D,False,NaN,1453.11,1396.06,46.89,0.0,0,0.0,0.00,0,0

## **Checking datatype of all features**
In this step we will see any data type mismatch

In [601]:
loan.dtypes.unique()

array([dtype('int64'), dtype('float64'), dtype('bool'), dtype('O')],
      dtype=object)

**Checking distribution of categorical variables**

In [602]:
Category_Cols = [ col for col in loan if loan[col].dtype in ["object","bool"] ]
print(len(Category_Cols))
Category_Cols

13

['NewCreditCustomer',
 'LoanDate',
 'FirstPaymentDate',
 'MaturityDate_Original',
 'MaturityDate_Last',
 'Country',
 'County',
 'City',
 'EmploymentDurationCurrentEmployer',
 'LastPaymentOn',
 'Rating',
 'Restructured',
 'CreditScoreEsMicroL']

In [603]:
Category_Data = loan[Category_Cols]
Category_Data.head()

,NewCreditCustomer,LoanDate,FirstPaymentDate,MaturityDate_Original,MaturityDate_Last,Country,County,City,EmploymentDurationCurrentEmployer,LastPaymentOn,Rating,Restructured,CreditScoreEsMicroL
491,True,2015-01-06,2015-02-16,2020-01-15,2021-01-15,FI,POHJOIS-SAVO,KUOPIO,UpTo2Years,2020-01-17,D,True,NaN
523,False,2015-01-07,2015-03-06,2020-02-06,2021-11-08,EE,LÄÄNE-VIRUMAA,SÕMERU VALD,UpTo1Year,2020-01-08,B,True,NaN
536,False,2015-01-07,2015-02-16,2020-01-14,2024-02-23,EE,PÄRNUMAA,PÄRNU,UpTo3Years,2020-01-23,B,True,NaN
541,True,2015-01-08,2015-02-20,2020-01-20,2021-01-04,FI,POHJOIS-SAVO,KUOPIO,UpTo5Years,2020-01-20,D,True,NaN
544,True,2015-01-08,2015-02-25,2020-01-27,2020-01-27,EE,TARTU,KABINA,MoreThan5Years,2019-12-27,D,False,NaN

**Checking distribution of all numeric columns**

In [604]:
Numeric_Cols = [ col for col in loan if loan[col].dtype in ["int64","float64"]]
print(len(Numeric_Cols))
Numeric_Cols

34

['BidsPortfolioManager',
 'BidsApi',
 'BidsManual',
 'VerificationType',
 'LanguageCode',
 'Age',
 'Gender',
 'AppliedAmount',
 'Amount',
 'Interest',
 'LoanDuration',
 'MonthlyPayment',
 'UseOfLoan',
 'Education',
 'MaritalStatus',
 'EmploymentStatus',
 'OccupationArea',
 'HomeOwnershipType',
 'IncomeTotal',
 'ExistingLiabilities',
 'LiabilitiesTotal',
 'RefinanceLiabilities',
 'DebtToIncome',
 'FreeCash',
 'MonthlyPaymentDay',
 'PrincipalPaymentsMade',
 'InterestAndPenaltyPaymentsMade',
 'PrincipalBalance',
 'InterestAndPenaltyBalance',
 'NoOfPreviousLoansBeforeLoan',
 'AmountOfPreviousLoansBeforeLoan',
 'PreviousRepaymentsBeforeLoan',
 'PreviousEarlyRepaymentsCountBeforeLoan',
 'Target']

In [605]:
Numeric_Data = loan[Numeric_Cols]
Numeric_Data.head()

,BidsPortfolioManager,BidsApi,BidsManual,VerificationType,LanguageCode,Age,Gender,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,UseOfLoan,Education,MaritalStatus,EmploymentStatus,OccupationArea,HomeOwnershipType,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Target
491,1355,0,645.0,3.0,4,28,0.0,2000.0,2000.0,24.46,60,63.90,7,5.0,2.0,3.0,6.0,1.0,2097.0,1,629.00,0,3.05,1404.10,15,1387.57,1845.64,612.43,0.0,0,0.0,0.00,0,0
523,1000,0,0.0,4.0,1,27,0.0,1000.0,1000.0,17.74,60,28.17,7,4.0,3.0,3.0,1.0,6.0,560.0,8,1327.37,2,47.56,43.67,6,608.05,638.67,391.95,0.0,1,1300.0,187.87,0,0
536,2345,0,655.0,3.0,1,29,0.0,3000.0,3000.0,17.87,60,84.72,7,2.0,3.0,3.0,3.0,3.0,745.0,4,427.03,0,27.48,290.28,14,1270.42,1890.24,1729.58,0.0,1,1000.0,623.89,0,0
541,2045,0,955.0,3.0,4,25,0.0,3000.0,3000.0,27.98,60,102.12,0,3.0,3.0,3.0,10.0,4.0,1530.0,4,955.00,0,36.41,472.88,27,1916.72,3144.21,1083.28,0.0,0,0.0,0.00,0,0
544,1500,0,0.0,1.0,1,30,0.0,1500.0,1500.0,29.25,60,52.84,7,4.0,2.0,5.0,5.0,3.0,1500.0,2,465.00,0,4.52,982.16,25,1453.11,1396.06,46.89,0.0,0,0.0,0.00,0,0

- First we will delete all the features related to date as it is not a time series analysis so these features will not help in predicting target variable.
- As we can see in numeric column distribution there are many columns which are present as numeric but they are actually categorical as per data description such as Verification Type, Language Code, Gender, Use of Loan, Education, Marital Status,EmployementStatus, OccupationArea etc.
- So we will convert these features to categorical features

**Delete all the features related to date**

In [606]:
loan = loan.drop(columns=["LoanDate","FirstPaymentDate","MaturityDate_Original","MaturityDate_Last","LastPaymentOn"])
loan.shape

(57135, 42)

**Now we will check the distribution of different datatypes**

**Numeric Types**

> VerificationType

In [607]:
# 0 Not set 1 Income unverified 2 Income unverified, cross-referenced by phone 3 Income verified 4 Income and expenses verified

VerificationType_Classes={ 1:"Income Unverified" , 2: "Unverified/Cross Referenced Phone" , 3:"Income Verified" , 4:"Income Expenses Verified" }

print(loan["VerificationType"].dtypes)
loan["VerificationType"].value_counts()

float64

4.0    33144
1.0    23022
3.0      968
2.0        1
Name: VerificationType, dtype: int64

In [608]:
loan["VerificationType"]= loan["VerificationType"].map(VerificationType_Classes.get).astype("category")

print(loan["VerificationType"].dtypes)
loan["VerificationType"].value_counts()

category

Income Expenses Verified             33144
Income Unverified                    23022
Income Verified                        968
Unverified/Cross Referenced Phone        1
Name: VerificationType, dtype: int64

> Gender

In [609]:
# 0 Male 1 Woman 2 Undefined

Gender_Classes={ 0:"Male" , 1: "Woman" , 2:"Undefined"}

print(loan["Gender"].dtypes)
loan["Gender"].value_counts()

float64

0.0    34953
1.0    17286
2.0     4896
Name: Gender, dtype: int64

In [610]:
loan["Gender"]= loan["Gender"].map(Gender_Classes.get).astype("category")

print(loan["Gender"].dtypes)
loan["Gender"].value_counts()

category

Male         34953
Woman        17286
Undefined     4896
Name: Gender, dtype: int64

> LanguageCode

In [611]:
# 1 Estonian 2 English 3 Russian 4 Finnish 5 German 6 Spanish 9 Slovakian

LanguageCode_Classes={ 1:"Estonian", 2: "English", 3:"Russian", 4:"Finnish", 5:"German", 6:"Spanish", 9:"Slovakian"}

print(loan["LanguageCode"].dtypes)
loan["LanguageCode"].value_counts()

int64

1    31060
4    11853
6     7696
3     6160
2      364
9        2
Name: LanguageCode, dtype: int64

As we can see from above in language code w ehave only descriptions for values 1,2,3,4,5,6, and 9 but it has other values too like 21,22,15,13,10 and 7 but they are very less it may happen they are local language codes whose decription is not present so we will be treated all these values as others

In [612]:
loan["LanguageCode"]= loan["LanguageCode"].map(LanguageCode_Classes.get).astype("category")

print(loan["LanguageCode"].dtypes)
loan["LanguageCode"].value_counts()

category

Estonian     31060
Finnish      11853
Spanish       7696
Russian       6160
English        364
Slovakian        2
Name: LanguageCode, dtype: int64

> UseOfLoan

In [613]:
# -1 NotSet 0 Loan consolidation 1 Real estate 2 Home improvement 3 Business 4 Education 5 Travel 6 Vehicle 7 Other 8 Health
UseOfLoan_Classes={ -1:"Not Set", 0: "Loan Consolidation", 1:"Real Estate", 2:"Home Improvement",
                     3:"Business", 4:"Education", 5:"Travel", 6:"Vehicle", 7:"Other", 8:"Health"}

print(loan["UseOfLoan"].dtypes)
loan["UseOfLoan"].value_counts()

int64

-1    53769
 2     1089
 7      772
 0      495
 6      266
 3      207
 5      166
 8      152
 1      112
 4      107
Name: UseOfLoan, dtype: int64

As we can see from above stats most of the loans are -1 category whose description is not avaialble in Bondoro website so we have dig deeper to find that in Bondora most of the loans happened for which purpose so we find in Bondora [Statistics Page](https://www.bondora.com/en/public-statistics) most of the loans around 34.81% are for Not set purpose. so we will encode -1 as Not set category

In [614]:
loan["UseOfLoan"]= loan["UseOfLoan"].map(UseOfLoan_Classes.get).astype("category")

print(loan["UseOfLoan"].dtypes)
loan["UseOfLoan"].value_counts()

category

Not Set               53769
Home Improvement       1089
Other                   772
Loan Consolidation      495
Vehicle                 266
Business                207
Travel                  166
Health                  152
Real Estate             112
Education               107
Name: UseOfLoan, dtype: int64

> Education

In [615]:
# -1 Not Set 1 Primary education 2 Basic education 3 Vocational education 4 Secondary education 5 Higher education
Education_Classes={ -1:"Not Set", 1:"Primary Education", 2:"Basic Education",
                     3:"Vocational Education", 4:"Secondary Education", 5:"Higher Education"}

print(loan["Education"].dtypes)
loan["Education"].value_counts()

float64

 4.0    22773
 5.0    14479
 3.0    12003
 1.0     6831
 2.0     1048
-1.0        1
Name: Education, dtype: int64

Again as we can see from above description for -1 and 0 in case of education is not present so we will encode them as Not_present as we dont know anything about them.

In [616]:
loan["Education"]= loan["Education"].map(Education_Classes.get).astype("category")

print(loan["Education"].dtypes)
loan["Education"].value_counts()

category

Secondary Education     22773
Higher Education        14479
Vocational Education    12003
Primary Education        6831
Basic Education          1048
Not Set                     1
Name: Education, dtype: int64

> MaritalStatus

In [617]:
# 1 Married 2 Cohabitant 3 Single 4 Divorced 5 Widow
MaritalStatus_Classes={ -1:"Not Specified", 1:"Married", 2:"Cohabitant",
                     3:"Single", 4:"Divorced", 5:"Widow"}

print(loan["MaritalStatus"].dtypes)
loan["MaritalStatus"].value_counts()

float64

-1.0    53769
 1.0     1167
 2.0      921
 3.0      896
 4.0      300
 5.0       82
Name: MaritalStatus, dtype: int64

Again Marital status of value 0 and -1 has no description so we will encode them as Not_specified

In [618]:
loan["MaritalStatus"]= loan["MaritalStatus"].map(MaritalStatus_Classes.get).astype("category")

print(loan["MaritalStatus"].dtypes)
loan["MaritalStatus"].value_counts()

category

Not Specified    53769
Married           1167
Cohabitant         921
Single             896
Divorced           300
Widow               82
Name: MaritalStatus, dtype: int64

> EmploymentStatus

In [619]:
# 1 Unemployed 2 Partially employed 3 Fully employed 4 Self-employed 5 Entrepreneur 6 Retiree
EmploymentStatus_Classes={ -1:"Not Specified", 1:"Unemployed", 2:"Partially Employed",
                     3:"Fully Employed", 4:"Self Employed", 5:"Entrepreneur", 6:"Retiree"}

print(loan["EmploymentStatus"].dtypes)
loan["EmploymentStatus"].value_counts()

float64

-1.0    53769
 3.0     2751
 5.0      312
 6.0      137
 4.0       92
 2.0       74
Name: EmploymentStatus, dtype: int64

In [620]:
loan["EmploymentStatus"]= loan["EmploymentStatus"].map(EmploymentStatus_Classes.get).astype("category")

print(loan["EmploymentStatus"].dtypes)
loan["EmploymentStatus"].value_counts()

category

Not Specified         53769
Fully Employed         2751
Entrepreneur            312
Retiree                 137
Self Employed            92
Partially Employed       74
Name: EmploymentStatus, dtype: int64

> OccupationArea

In [621]:
"""
1 Other 2 Mining 3 Processing 4 Energy 5 Utilities 6 Construction 7 Retail and wholesale 8 Transport and warehousing 9 Hospitality and catering 
10 Info and telecom 11 Finance and insurance 12 Real-estate 13 Research 14 Administrative 15 Civil service & military
16 Education 17 Healthcare and social help 18 Art and entertainment 19 Agriculture, forestry and fishing
"""
OccupationArea_Classes={ -1:"Not Specified", 1:"Other", 2:"Mining", 3:"Processing", 4:"Energy", 5:"Utilities", 6:"Construction", 7:"Retail and Wholesale",
                        8:"Transport and Warehousing", 9:"Mining", 10:"Info and Telecom", 11:"Finance and Insurance", 12:"Real Estate", 13:"Research",
                        14:"Administrative", 15:"Civil Service & Military", 16:"Education", 17:"Healthcare and SocialHelp",
                        18:"Art and Entertainment", 19:"Agriculture, Forestry and Fishing"}

print(loan["OccupationArea"].dtypes)
loan["OccupationArea"].value_counts()

float64

-1.0     53769
 1.0       781
 7.0       380
 3.0       322
 6.0       305
 17.0      238
 8.0       186
 16.0      179
 9.0       156
 10.0      151
 15.0      129
 19.0      107
 18.0       95
 11.0       94
 13.0       71
 4.0        57
 14.0       45
 12.0       44
 5.0        20
 2.0         6
Name: OccupationArea, dtype: int64

In [622]:
loan["OccupationArea"]= loan["OccupationArea"].map(OccupationArea_Classes.get).astype("category")

print(loan["OccupationArea"].dtypes)
loan["OccupationArea"].value_counts()

category

Not Specified                        53769
Other                                  781
Retail and Wholesale                   380
Processing                             322
Construction                           305
Healthcare and SocialHelp              238
Transport and Warehousing              186
Education                              179
Mining                                 162
Info and Telecom                       151
Civil Service & Military               129
Agriculture, Forestry and Fishing      107
Art and Entertainment                   95
Finance and Insurance                   94
Research                                71
Energy                                  57
Administrative                          45
Real Estate                             44
Utilities                               20
Name: OccupationArea, dtype: int64

> HomeOwnershipType

In [623]:
# 0 Homeless 1 Owner 2 Living with parents 3 Tenant, pre-furnished property 4 Tenant, unfurnished property 5 Council house 6 Joint tenant 7 Joint ownership 8 Mortgage 9 Owner with encumbrance 10 Other
HomeOwnershipType_Classes={ -1:"Not Specified", 1:"Owner", 2:"Living with Parents", 3:"Tenant, Pre-Furnished Property", 4:"Tenant, Unfurnished Property",
                           5:"Council House",6:"Joint Tenant", 7:"Joint Ownership", 8:"Mortgage", 9:"Owner with Encumbrance", 10:"Other"}

print(loan["HomeOwnershipType"].dtypes)
loan["HomeOwnershipType"].value_counts()

float64

 1.0     22740
 3.0     12737
 2.0      8004
 8.0      6695
 10.0     4777
 7.0       636
 5.0       560
 4.0       551
 6.0       256
 9.0       178
-1.0         1
Name: HomeOwnershipType, dtype: int64

In [624]:
loan["HomeOwnershipType"]= loan["HomeOwnershipType"].map(HomeOwnershipType_Classes.get).astype("category")

print(loan["HomeOwnershipType"].dtypes)
loan["HomeOwnershipType"].value_counts()

category

Owner                             22740
Tenant, Pre-Furnished Property    12737
Living with Parents                8004
Mortgage                           6695
Other                              4777
Joint Ownership                     636
Council House                       560
Tenant, Unfurnished Property        551
Joint Tenant                        256
Owner with Encumbrance              178
Not Specified                         1
Name: HomeOwnershipType, dtype: int64

**Bool Types**

> NewCreditCustomer

In [625]:
# Did the customer have prior credit history in Bondora 0 Customer had at least 3 months of credit history in Bondora 1 No prior credit history in Bondora
print(loan["Restructured"].dtypes)
loan["NewCreditCustomer"].value_counts()

bool

True     28941
False    28194
Name: NewCreditCustomer, dtype: int64

> Restructured

In [626]:
# The original maturity date of the loan has been increased by more than 60 days
print(loan["Restructured"].dtypes)
loan["Restructured"].value_counts()

bool

False    45015
True     12120
Name: Restructured, dtype: int64

**String Types**

> Country

In [627]:
country_classes = { "EE":"Estonia", "FI":"Finland", "ES":"Spain", "SK":"Slovakia"}

print(loan["Country"].dtypes)
loan["Country"].value_counts()

object

EE    37439
FI    11973
ES     7721
SK        2
Name: Country, dtype: int64

In [628]:
loan["Country"]= loan["Country"].map(country_classes.get).astype("category")

print(loan["Country"].dtypes)
loan["Country"].value_counts()

category

Estonia     37439
Finland     11973
Spain        7721
Slovakia        2
Name: Country, dtype: int64

> EmploymentDurationCurrentEmployer

In [629]:
print(loan["EmploymentDurationCurrentEmployer"].dtypes)
loan["EmploymentDurationCurrentEmployer"].value_counts()

object

MoreThan5Years    22761
UpTo5Years        14634
UpTo1Year          9899
Retiree            4208
Other              3021
UpTo2Years          957
UpTo3Years          896
UpTo4Years          627
TrialPeriod         130
Name: EmploymentDurationCurrentEmployer, dtype: int64

In [630]:
loan["EmploymentDurationCurrentEmployer"]= loan["EmploymentDurationCurrentEmployer"].astype("category")

print(loan["EmploymentDurationCurrentEmployer"].dtypes)
loan["EmploymentDurationCurrentEmployer"].value_counts()

category

MoreThan5Years    22761
UpTo5Years        14634
UpTo1Year          9899
Retiree            4208
Other              3021
UpTo2Years          957
UpTo3Years          896
UpTo4Years          627
TrialPeriod         130
Name: EmploymentDurationCurrentEmployer, dtype: int64

> Rating

In [631]:
print(loan["Rating"].dtypes)
loan["Rating"].value_counts()

object

E     12173
D      9786
C      9425
F      8504
B      7710
AA     4478
A      4086
HR      971
Name: Rating, dtype: int64

In [632]:
loan["Rating"]= loan["Rating"].astype("category")

print(loan["Rating"].dtypes)
loan["Rating"].value_counts()

category

E     12173
D      9786
C      9425
F      8504
B      7710
AA     4478
A      4086
HR      971
Name: Rating, dtype: int64

> CreditScoreEsMicroL

In [633]:
print(loan["CreditScoreEsMicroL"].dtypes)
loan["CreditScoreEsMicroL"].value_counts()

object

M      53222
M1       201
M2       106
M3        98
M4        60
M5        55
M6         4
M10        1
Name: CreditScoreEsMicroL, dtype: int64

In [634]:
loan["CreditScoreEsMicroL"]= loan["CreditScoreEsMicroL"].astype("category")

print(loan["CreditScoreEsMicroL"].dtypes)
loan["CreditScoreEsMicroL"].value_counts()

category

M      53222
M1       201
M2       106
M3        98
M4        60
M5        55
M6         4
M10        1
Name: CreditScoreEsMicroL, dtype: int64

**Verifing Columns Types Conversion**

In [635]:
Category_Cols = [ col for col in loan if loan[col].dtype in ["category"] ]
print(len(Category_Cols))
Category_Cols

13

['VerificationType',
 'LanguageCode',
 'Gender',
 'Country',
 'UseOfLoan',
 'Education',
 'MaritalStatus',
 'EmploymentStatus',
 'EmploymentDurationCurrentEmployer',
 'OccupationArea',
 'HomeOwnershipType',
 'Rating',
 'CreditScoreEsMicroL']

In [636]:
Category_Data = loan[Category_Cols]
Category_Data.head()

,VerificationType,LanguageCode,Gender,Country,UseOfLoan,Education,MaritalStatus,EmploymentStatus,EmploymentDurationCurrentEmployer,OccupationArea,HomeOwnershipType,Rating,CreditScoreEsMicroL
491,Income Verified,Finnish,Male,Finland,Other,Higher Education,Cohabitant,Fully Employed,UpTo2Years,Construction,Owner,D,NaN
523,Income Expenses Verified,Estonian,Male,Estonia,Other,Secondary Education,Single,Fully Employed,UpTo1Year,Other,Joint Tenant,B,NaN
536,Income Verified,Estonian,Male,Estonia,Other,Basic Education,Single,Fully Employed,UpTo3Years,Processing,"Tenant, Pre-Furnished Property",B,NaN
541,Income Verified,Finnish,Male,Finland,Loan Consolidation,Vocational Education,Single,Fully Employed,UpTo5Years,Info and Telecom,"Tenant, Unfurnished Property",D,NaN
544,Income Unverified,Estonian,Male,Estonia,Other,Secondary Education,Cohabitant,Entrepreneur,MoreThan5Years,Utilities,"Tenant, Pre-Furnished Property",D,NaN

In [637]:
bool_Cols = [ col for col in loan if loan[col].dtype in ["bool"] ]
print(len(bool_Cols))
bool_Cols

2

['NewCreditCustomer', 'Restructured']

In [638]:
bool_Data = loan[bool_Cols]
bool_Data.head()

     NewCreditCustomer  Restructured
491               True          True
523              False          True
536              False          True
541               True          True
544               True         False

In [639]:
Numeric_Cols = [ col for col in loan if loan[col].dtype in ["int64","float64"]]
print(len(Numeric_Cols))
Numeric_Cols

25

['BidsPortfolioManager',
 'BidsApi',
 'BidsManual',
 'Age',
 'AppliedAmount',
 'Amount',
 'Interest',
 'LoanDuration',
 'MonthlyPayment',
 'IncomeTotal',
 'ExistingLiabilities',
 'LiabilitiesTotal',
 'RefinanceLiabilities',
 'DebtToIncome',
 'FreeCash',
 'MonthlyPaymentDay',
 'PrincipalPaymentsMade',
 'InterestAndPenaltyPaymentsMade',
 'PrincipalBalance',
 'InterestAndPenaltyBalance',
 'NoOfPreviousLoansBeforeLoan',
 'AmountOfPreviousLoansBeforeLoan',
 'PreviousRepaymentsBeforeLoan',
 'PreviousEarlyRepaymentsCountBeforeLoan',
 'Target']

In [640]:
Numeric_Data = loan[Numeric_Cols]
Numeric_Data.describe()

,BidsPortfolioManager,BidsApi,BidsManual,Age,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Target
count,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57077.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,57135.000000,33290.000000,57135.000000,57135.000000
mean,620.964995,24.160882,554.321362,42.455203,2702.164943,2640.316899,29.913080,48.489682,105.060883,1527.973334,2.952849,354.913541,0.034497,2.025020,23.409092,10.854187,333.241858,468.927808,2307.074530,6.056837,1.957417,3811.408472,1045.732929,0.059648,0.002118
std,971.618839,129.660918,641.063762,12.375511,2247.963237,2175.097309,17.184065,13.031395,87.742412,2477.264378,3.313259,1226.279040,0.377524,9.216263,369.656875,6.617111,654.100096,825.562760,2021.099842,52.580527,2.750272,5078.599057,1975.382472,0.321914,0.045971
min,0.000000,0.000000,0.000000,18.000000,500.000000,260.000000,7.270000,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-26.480000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,106.000000,0.000000,163.500000,33.000000,850.000000,850.000000,16.100000,36.000000,31.140000,840.000000,1.000000,37.000000,0.000000,0.000000,0.000000,5.000000,43.650000,52.490000,602.450000,0.000000,0.000000,0.000000,141.160000,0.000000,0.000000
50%,277.000000,0.000000,349.000000,42.000000,2125.000000,2125.000000,27.070000,60.000000,90.730000,1200.000000,2.000000,235.000000,0.000000,0.000000,0.000000,10.000000,127.910000,171.340000,1902.080000,0.000000,1.000000,2000.000000,349.915000,0.000000,0.000000
75%,682.000000,5.000000,712.000000,52.000000,4150.000000,4150.000000,37.500000,60.000000,143.900000,1800.000000,4.000000,485.575000,0.000000,0.000000,0.000000,15.000000,323.590000,514.950000,3538.085000,0.000000,3.000000,5845.000000,960.440000,0.000000,0.000000
max,10625.000000,5565.000000,10630.000000,70.000000,10632.000000,10632.000000,240.560000,60.000000,1284.220000,235800.000000,40.000000,250100.000000,18.000000,75.610000,82063.820000,27.000000,10368.630000,16873.000000,10632.000000,2517.090000,25.000000,53762.000000,26996.320000,8.000000,1.000000

In [641]:
object_Cols = [ col for col in loan if loan[col].dtype in ["object"]]
print(len(object_Cols))
object_Cols

2

['County', 'City']

In [642]:
object_Data = loan[object_Cols]
object_Data.head()

            County         City
491   POHJOIS-SAVO       KUOPIO
523  LÄÄNE-VIRUMAA  SÕMERU VALD
536       PÄRNUMAA        PÄRNU
541   POHJOIS-SAVO       KUOPIO
544          TARTU       KABINA

In [643]:
object_Data.describe()

               County     City
count           40810    52385
unique            287     3325
top     Harju maakond  Tallinn
freq            13269     9137

In [644]:
object_Data.nunique()

County     287
City      3325
dtype: int64

In [645]:
object_Data["City"].value_counts()

Tallinn                    9137
Tartu linn                 2126
Pärnu linn                 1285
HELSINKI                   1102
Narva linn                  918
                           ...
SANTA LUCIA DE TIRAJANA       1
VERIORA                       1
HÄNTÄLÄ                       1
LÜGANUSE                      1
KÕO                           1
Name: City, Length: 3325, dtype: int64

In [646]:
object_Data["County"].value_counts()

Harju maakond                              13269
Tartu maakond                               3951
Pärnu maakond                               2552
Ida-Viru maakond                            2496
UUSIMAA                                     2161
Lääne-Viru maakond                          2082
Viljandi maakond                            1544
Võru maakond                                1146
Rapla maakond                               1034
Jõgeva maakond                              1007
Järva maakond                                964
Valga maakond                                940
Saare maakond                                915
HARJU                                        753
Põlva maakond                                741
Lääne maakond                                573
PIRKANMAA                                    438
VARSINAIS-SUOMI                              378
POHJOIS-POHJANMAA                            284
Hiiu maakond                                 276
COMUNIDAD DE MADRID                          258
HARJUMAA                                     198
CATALUÑA                                     191
PÄIJÄT-HÄME                                  181
TARTU                                        173
Harjumaa                                     136
BARCELONA                                    108
LÄÄNE-VIRUMAA                                102
PÄRNUMAA                                      94
IDA-VIRU                                      90
MADRID                                        90
RAPLA                                         61
VILJANDI                                      52
TARTUMAA                                      51
PONTEVEDRA                                    49
PÄRNU MAAKOND                                 43
Tartu  maakond                                40
VALGA                                         39
A CORUÑA                                      34
SAARE                                         33
JÄRVAMAA                                      32
VÕRUMAA                                       29
Comunidad de Madrid                           28
JÕGEVAMAA                                     27
Ida-Viru  maakond                             26
LÄÄNEMAA                                      26
1                                             26
LÄÄNE-VIRU MAAKOND                            25
Tartumaa                                      24
Andalucía                                     24
LAS PALMAS                                    24
PÕLVAMAA                                      23
Lääne-Viru  maakond                           23
Pärnumaa                                      22
JÄRVA MAAKOND                                 22
Catalunya                                     21
LÄÄNE MAAKOND                                 21
Pärnu  maakond                                21
SEVILLA                                       20
JÕGEVA MAAKOND                                19
VÕRU MAAKOND                                  17
Põlva  maakond                                16
Rapla  maakond                                16
Comunidad Valenciana                          15
SAARE MAAKOND                                 15
VILJANDIMAA                                   15
Galicia                                       15
Ida-Virumaa                                   14
Järva  maakond                                13
ASTURIAS                                      12
Castilla-La Mancha                            12
TENERIFE                                      12
PALMAS                                        12
PÕLVA MAAKOND                                 12
OURENSE                                       11
TARTU LINN                                    11
Uusimaa                                       10
IDA-VIRUMAA                                   10
MURCIA                                        10
KYMENLAAKSO                                   10
ZARAGOZA                                      10
TARRAGONA                                     10
LUGO                                          10
Jõgeva  maakond                               10
VIZCAYA                                       10
Lääne-Virumaa                                  9
POHJOIS-SAVO                                   9
SATAKUNTA                                      9
Harju                                          8
LLEIDA                                         8
Cataluña                                       8
CANTABRIA                                      7
Võru  maakond                                  7
POHJANMAA                                      7
Valgamaa                                       7
Läänemaa                                       6
Võrumaa                                        6
Raplamaa                                       6
KANTA-HÄME                                     6
Lääne  maakond                                 6
BIZKAIA                                        6
CORUÑA                                         6
Valga  maakond                                 6
RAPLAMAA                                       6
ETELÄ-KARJALA                                  6
KUOPIO                                         6
MADRID, MADRID                                 6
Viljandimaa                                    6
VALENCIA                                       5
GRANADA                                        5
Región de Murcia                               5
ALMERÍA                                        5
Jõgevamaa                                      5
JÕGEVA                                         5
Saaremaa                                       5
ETELÄ-POHJANMAA                                5
LAPPI                                          4
PÄRNU                                          4
COMUNIDAD VALENCIANA                           4
RAPLA MAAKOND                                  4
GIRONA                                         4
CADIZ                                          4
CATALUNYA                                      4
Madrid                                         4
SUOMI                                          4
VALGA MAAKOND                                  4
KESKI-SUOMI                                    4
MÁLAGA                                         4
Cascais                                        4
GUADALAJARA                                    4
MALAGA                                         4
OULU                                           4
VANTAA                                         4
TOLEDO                                         4
POHJOIS-SAVON                                  3
TARTU MAAKOND                                  3
Järvamaa                                       3
Uusima                                         3
POHJOIS-KARJALA                                3
MUSTASAARI                                     3
LEÓN                                           3
VALENCIA/VALÈNCIA                              3
HUESCA                                         3
Rogaland                                       3
TARRAGONA, TARRAGONA                           3
PÄIJÄT-HÄMEEN MAAKUNTA                         3
ANDALUCÍA                                      3
ALICANTE/ALACANT                               3
Barcelona , BARCELONA                          3
valencia del ventoso, BADAJOZ                  3
Castilla y León                                3
SAAREMAA                                       2
CASCO SANTA CRUZ TENERIFE                      2
Barcelona                                      2
ILLES BALEARS                                  2
LÄNSI-SUOMI                                    2
UUDIMAA                                        2
IDA-VIRUMA                                     2
CASTELLÓN/CASTELLÓ                             2
KÜLA                                           2
KAINUU                                         2
GIPUZKOA                                       2
LÜGANUSE VALD                                  2
CANARIAS                                       2
CASTILLA Y LEÓN                                2
/                                              2
VALLADOLID                                     2
PÄIJÄT HÄME                                    2
GALICIA                                        2
CUENCA                                         2
IURRETA, VIZCAYA                               2
Rapla                                          2
Aragón                                         2
KARKKILA                                       2
VALGAMAA                                       2
BADALONA, BARCELONA                            2
AVILA                                          2
Canarias                                       2
NAVARRA                                        2
NAVARRA                                        2
LEON                                           2
País Vasco                                     2
BALEARS                                        2
harjumaa                                       2
JÄRVA                                          2
SALAMANCA                                      2
ALALPARDO, MADRID                              2
Fuente el Saz del Jarama, MADRID               1
SAN PEDRO DE ALCANTARA-MARBELLA, MALAGA        1
JAÉN                                           1
JÕGEVA VALD                                    1
Cantabria                                      1
.                                              1
PORNAINEN                                      1
SEGOVIA                                        1
Balearic Islands                               1
BENIDOLEIG, ALICANTE/ALACANT                   1
HARJU MAAKOND                                  1
MURASTE                                        1
CÓRDOBA                                        1
BURGOS                                         1
REAL                                           1
SANTA CRUZ DE TENERIFE                         1
ZAMORA                                         1
CORNELLA DE LLOBREGAT, BARCELONA               1
BARCELONA, BARCELONA                           1
Santa Cruz de Tenerife                         1
TERRASA, BARCELONA                             1
SANT FELIU DE LLOBREGAT, BARCELONA             1
Brdalona                                       1
CADALSO DE LOS VIDRIOS, MADRID                 1
CÁDIZ                                          1
Asturias                                       1
IDA-VIRU MAAKOND                               1
HAAPSALU LINN                                  1
CEUTA                                          1
VILJANDI MAAKOND                               1
PAIDE LINN                                     1
vigo, PONTEVEDRA                               1
HIIU                                           1
VIGO                                           1
HIIUMAA MK.                                    1
VÕRU                                           1
POHJOISPOHJANMAA                               1
TAMPERE                                        1
CÁCERES                                        1
DEGERBY                                        1
KOTKA                                          1
Jõgeva                                         1
Varsinais-Suomi                                1
KYMENLAKSO                                     1
TYRNÄVÄ                                        1
HIIU MAAKOND                                   1
PARNUMAAKOND                                   1
REGIÓN DE MURCIA                               1
NYLAND                                         1
INKOO                                          1
Keski-Suomi                                    1
KÄMMENNIEMI                                    1
ETELÄSAVO                                      1
MÄRJAMAA                                       1
VÕRU VALD                                      1
LÄNE-VIRUMAA                                   1
JÕGEVAMAA, PALAMUSE VALD                       1
SASTAMALA                                      1
IDA VIRU                                       1
MYYRMÄKI                                       1
BALEARES                                       1
LÄÄNE-SAARE                                    1
KESKI-POHJANMAA                                1
MOS                                            1
HÄME                                           1
Pärnu                                          1
JAKOBSTAD                                      1
BRATISLAVSKÝ                                   1
Pärnumaakond                                   1
VASARAINEN                                     1
MIKKELI                                        1
TRNAVSKY                                       1
ALICANTE                                       1
TARTUMAAKOND                                   1
TARUMAA                                        1
Extremadura                                    1
KIRKKONUMMI                                    1
UUDENMAAN                                      1
PÄRNU LINN                                     1
SUURE-JAANI                                    1
ESPOO                                          1
CASTILLA-LA MANCHA                             1
POHJOIS-POHJANMAAN                             1
Pirkanmaa                                      1
ETELÄ-SAVO                                     1
pärnumaa                                       1
Kymenlakso                                     1
Järva                                          1
Harjimaa                                       1
Tarumaa                                        1
Hiiumaa mk.                                    1
Hiiumaa                                        1
ETELÄ-SUOMI                                    1
Pärnu linn                                     1
Uudimaa                                        1
SEINÄJOKI                                      1
CIUDAD REAL                                    1
LAPPEENRANTA                                   1
VARSINAIS SUOMI                                1
LA RIOJA                                       1
Name: County, dtype: int64

**Saving Final Data**

In [647]:
loan.shape

(57135, 42)

In [648]:
loan.head()

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,LanguageCode,Age,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,County,City,UseOfLoan,Education,MaritalStatus,EmploymentStatus,EmploymentDurationCurrentEmployer,OccupationArea,HomeOwnershipType,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,Rating,Restructured,CreditScoreEsMicroL,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Target
491,1355,0,645.0,True,Income Verified,Finnish,28,Male,Finland,2000.0,2000.0,24.46,60,63.90,POHJOIS-SAVO,KUOPIO,Other,Higher Education,Cohabitant,Fully Employed,UpTo2Years,Construction,Owner,2097.0,1,629.00,0,3.05,1404.10,15,D,True,NaN,1387.57,1845.64,612.43,0.0,0,0.0,0.00,0,0
523,1000,0,0.0,False,Income Expenses Verified,Estonian,27,Male,Estonia,1000.0,1000.0,17.74,60,28.17,LÄÄNE-VIRUMAA,SÕMERU VALD,Other,Secondary Education,Single,Fully Employed,UpTo1Year,Other,Joint Tenant,560.0,8,1327.37,2,47.56,43.67,6,B,True,NaN,608.05,638.67,391.95,0.0,1,1300.0,187.87,0,0
536,2345,0,655.0,False,Income Verified,Estonian,29,Male,Estonia,3000.0,3000.0,17.87,60,84.72,PÄRNUMAA,PÄRNU,Other,Basic Education,Single,Fully Employed,UpTo3Years,Processing,"Tenant, Pre-Furnished Property",745.0,4,427.03,0,27.48,290.28,14,B,True,NaN,1270.42,1890.24,1729.58,0.0,1,1000.0,623.89,0,0
541,2045,0,955.0,True,Income Verified,Finnish,25,Male,Finland,3000.0,3000.0,27.98,60,102.12,POHJOIS-SAVO,KUOPIO,Loan Consolidation,Vocational Education,Single,Fully Employed,UpTo5Years,Info and Telecom,"Tenant, Unfurnished Property",1530.0,4,955.00,0,36.41,472.88,27,D,True,NaN,1916.72,3144.21,1083.28,0.0,0,0.0,0.00,0,0
544,1500,0,0.0,True,Income Unverified,Estonian,30,Male,Estonia,1500.0,1500.0,29.25,60,52.84,TARTU,KABINA,Other,Secondary Education,Cohabitant,Entrepreneur,MoreThan5Years,Utilities,"Tenant, Pre-Furnished Property",1500.0,2,465.00,0,4.52,982.16,25,D,False,NaN,1453.11,1396.06,46.89,0.0,0,0.0,0.00,0,0

In [649]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57135 entries, 491 to 134491
Data columns (total 42 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   BidsPortfolioManager                    57135 non-null  int64
 1   BidsApi                                 57135 non-null  int64
 2   BidsManual                              57135 non-null  float64
 3   NewCreditCustomer                       57135 non-null  bool
 4   VerificationType                        57135 non-null  category
 5   LanguageCode                            57135 non-null  category
 6   Age                                     57135 non-null  int64
 7   Gender                                  57135 non-null  category
 8   Country                                 57135 non-null  category
 9   AppliedAmount                           57135 non-null  float64
 10  Amount                                  57135 non-null  float64
 11  Interest                                57135 non-null  float64
 12  LoanDuration                            57135 non-null  int64
 13  MonthlyPayment                          57077 non-null  float64
 14  County                                  40810 non-null  object
 15  City                                    52385 non-null  object
 16  UseOfLoan                               57135 non-null  category
 17  Education                               57135 non-null  category
 18  MaritalStatus                           57135 non-null  category
 19  EmploymentStatus                        57135 non-null  category
 20  EmploymentDurationCurrentEmployer       57133 non-null  category
 21  OccupationArea                          57135 non-null  category
 22  HomeOwnershipType                       57135 non-null  category
 23  IncomeTotal                             57135 non-null  float64
 24  ExistingLiabilities                     57135 non-null  int64
 25  LiabilitiesTotal                        57135 non-null  float64
 26  RefinanceLiabilities                    57135 non-null  int64
 27  DebtToIncome                            57135 non-null  float64
 28  FreeCash                                57135 non-null  float64
 29  MonthlyPaymentDay                       57135 non-null  int64
 30  Rating                                  57133 non-null  category
 31  Restructured                            57135 non-null  bool
 32  CreditScoreEsMicroL                     53747 non-null  category
 33  PrincipalPaymentsMade                   57135 non-null  float64
 34  InterestAndPenaltyPaymentsMade          57135 non-null  float64
 35  PrincipalBalance                        57135 non-null  float64
 36  InterestAndPenaltyBalance               57135 non-null  float64
 37  NoOfPreviousLoansBeforeLoan             57135 non-null  int64
 38  AmountOfPreviousLoansBeforeLoan         57135 non-null  float64
 39  PreviousRepaymentsBeforeLoan            33290 non-null  float64
 40  PreviousEarlyRepaymentsCountBeforeLoan  57135 non-null  int64
 41  Target                                  57135 non-null  int64
dtypes: bool(2), category(13), float64(15), int64(10), object(2)
memory usage: 13.0+ MB

In [650]:
loan.to_csv('/content/drive/MyDrive/Technocolabs/Bondora_preprocessed.csv',index=False)

In [651]:
df=pd.read_csv('/content/drive/MyDrive/Technocolabs/Bondora_preprocessed.csv')

In [652]:
df.shape

(57135, 42)

In [653]:
df.head()

,BidsPortfolioManager,BidsApi,BidsManual,NewCreditCustomer,VerificationType,LanguageCode,Age,Gender,Country,AppliedAmount,Amount,Interest,LoanDuration,MonthlyPayment,County,City,UseOfLoan,Education,MaritalStatus,EmploymentStatus,EmploymentDurationCurrentEmployer,OccupationArea,HomeOwnershipType,IncomeTotal,ExistingLiabilities,LiabilitiesTotal,RefinanceLiabilities,DebtToIncome,FreeCash,MonthlyPaymentDay,Rating,Restructured,CreditScoreEsMicroL,PrincipalPaymentsMade,InterestAndPenaltyPaymentsMade,PrincipalBalance,InterestAndPenaltyBalance,NoOfPreviousLoansBeforeLoan,AmountOfPreviousLoansBeforeLoan,PreviousRepaymentsBeforeLoan,PreviousEarlyRepaymentsCountBeforeLoan,Target
0,1355,0,645.0,True,Income Verified,Finnish,28,Male,Finland,2000.0,2000.0,24.46,60,63.90,POHJOIS-SAVO,KUOPIO,Other,Higher Education,Cohabitant,Fully Employed,UpTo2Years,Construction,Owner,2097.0,1,629.00,0,3.05,1404.10,15,D,True,NaN,1387.57,1845.64,612.43,0.0,0,0.0,0.00,0,0
1,1000,0,0.0,False,Income Expenses Verified,Estonian,27,Male,Estonia,1000.0,1000.0,17.74,60,28.17,LÄÄNE-VIRUMAA,SÕMERU VALD,Other,Secondary Education,Single,Fully Employed,UpTo1Year,Other,Joint Tenant,560.0,8,1327.37,2,47.56,43.67,6,B,True,NaN,608.05,638.67,391.95,0.0,1,1300.0,187.87,0,0
2,2345,0,655.0,False,Income Verified,Estonian,29,Male,Estonia,3000.0,3000.0,17.87,60,84.72,PÄRNUMAA,PÄRNU,Other,Basic Education,Single,Fully Employed,UpTo3Years,Processing,"Tenant, Pre-Furnished Property",745.0,4,427.03,0,27.48,290.28,14,B,True,NaN,1270.42,1890.24,1729.58,0.0,1,1000.0,623.89,0,0
3,2045,0,955.0,True,Income Verified,Finnish,25,Male,Finland,3000.0,3000.0,27.98,60,102.12,POHJOIS-SAVO,KUOPIO,Loan Consolidation,Vocational Education,Single,Fully Employed,UpTo5Years,Info and Telecom,"Tenant, Unfurnished Property",1530.0,4,955.00,0,36.41,472.88,27,D,True,NaN,1916.72,3144.21,1083.28,0.0,0,0.0,0.00,0,0
4,1500,0,0.0,True,Income Unverified,Estonian,30,Male,Estonia,1500.0,1500.0,29.25,60,52.84,TARTU,KABINA,Other,Secondary Education,Cohabitant,Entrepreneur,MoreThan5Years,Utilities,"Tenant, Pre-Furnished Property",1500.0,2,465.00,0,4.52,982.16,25,D,False,NaN,1453.11,1396.06,46.89,0.0,0,0.0,0.00,0,0

In [654]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57135 entries, 0 to 57134
Data columns (total 42 columns):
 #   Column                                  Non-Null Count  Dtype
---  ------                                  --------------  -----
 0   BidsPortfolioManager                    57135 non-null  int64
 1   BidsApi                                 57135 non-null  int64
 2   BidsManual                              57135 non-null  float64
 3   NewCreditCustomer                       57135 non-null  bool
 4   VerificationType                        57135 non-null  object
 5   LanguageCode                            57135 non-null  object
 6   Age                                     57135 non-null  int64
 7   Gender                                  57135 non-null  object
 8   Country                                 57135 non-null  object
 9   AppliedAmount                           57135 non-null  float64
 10  Amount                                  57135 non-null  float64
 11  Interest                                57135 non-null  float64
 12  LoanDuration                            57135 non-null  int64
 13  MonthlyPayment                          57077 non-null  float64
 14  County                                  40810 non-null  object
 15  City                                    52385 non-null  object
 16  UseOfLoan                               57135 non-null  object
 17  Education                               57135 non-null  object
 18  MaritalStatus                           57135 non-null  object
 19  EmploymentStatus                        57135 non-null  object
 20  EmploymentDurationCurrentEmployer       57133 non-null  object
 21  OccupationArea                          57135 non-null  object
 22  HomeOwnershipType                       57135 non-null  object
 23  IncomeTotal                             57135 non-null  float64
 24  ExistingLiabilities                     57135 non-null  int64
 25  LiabilitiesTotal                        57135 non-null  float64
 26  RefinanceLiabilities                    57135 non-null  int64
 27  DebtToIncome                            57135 non-null  float64
 28  FreeCash                                57135 non-null  float64
 29  MonthlyPaymentDay                       57135 non-null  int64
 30  Rating                                  57133 non-null  object
 31  Restructured                            57135 non-null  bool
 32  CreditScoreEsMicroL                     53747 non-null  object
 33  PrincipalPaymentsMade                   57135 non-null  float64
 34  InterestAndPenaltyPaymentsMade          57135 non-null  float64
 35  PrincipalBalance                        57135 non-null  float64
 36  InterestAndPenaltyBalance               57135 non-null  float64
 37  NoOfPreviousLoansBeforeLoan             57135 non-null  int64
 38  AmountOfPreviousLoansBeforeLoan         57135 non-null  float64
 39  PreviousRepaymentsBeforeLoan            33290 non-null  float64
 40  PreviousEarlyRepaymentsCountBeforeLoan  57135 non-null  int64
 41  Target                                  57135 non-null  int64
dtypes: bool(2), float64(15), int64(10), object(15)
memory usage: 17.5+ MB